<div class="nav-no-collapse pull-right" id="header-nav">

    <!--<li class="dropdown hidden-xs"> -->
        <a class="btn dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-envelope-o"></i>
            <span class="count">16</span>
        </a>
        <ul class="dropdown-menu notifications-list messages-list">
            <li class="pointer">
                <div class="pointer-inner">
                    <div class="arrow"></div>
                </div>
            </li>
            <li class="item first-item">
                <a href="#">
                    <img src="img/samples/messages-photo-1.png" alt="" />
                    <span class="content">
                        <span class="content-headline">
                            George Clooney
                        </span>
                        <span class="content-text">
                            Look, just because I don't be givin' no man a foot massage don't make it
                            right for Marsellus to throw...
                        </span>
                    </span>
                    <span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
                </a>
            </li>
            <li class="item">
                <a href="#">
                    <img src="img/samples/messages-photo-2.png" alt="" />
                    <span class="content">
                        <span class="content-headline">
                            Emma Watson
                        </span>
                        <span class="content-text">
                            Look, just because I don't be givin' no man a foot massage don't make it
                            right for Marsellus to throw...
                        </span>
                    </span>
                    <span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
                </a>
            </li>
            <li class="item">
                <a href="#">
                    <img src="img/samples/messages-photo-3.png" alt="" />
                    <span class="content">
                        <span class="content-headline">
                            Robert Downey Jr.
                        </span>
                        <span class="content-text">
                            Look, just because I don't be givin' no man a foot massage don't make it
                            right for Marsellus to throw...
                        </span>
                    </span>
                    <span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
                </a>
            </li>
            <li class="item-footer">
                <a href="#">
                    View all messages
                </a>
            </li>
        </ul>
   <!-- </li> -->
</div>